.header {
    color: black; 
}
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.container > div {
    margin: 10px;
}
footer {
    color: #414141;
    position: absolute;
    bottom: 0%;
}
